**/*.log*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
cache/*
.cache
.env
.idea
.vscode
.pytest_cache
.DS_Store
.cursorrules
.cursour
__pycache__
reports/*
logs/*
**/metrics.db
*cursor*
.cursorrules
.cursour
.cursor
.cursorignore
.serena
.claude
.trae
.claude/*
.trae/*
.spec-workflow
.spec-workflow/*
*.duckdb
*.wal
*.db
*.sqlite
*.sqlite-journal
.vscode/*
*.sqlite-wal
*.db-wal
*.db-shm
.gitignore
performance_reports/*
*.md
!README.md
web/*